.container {
    min-width: 100%;
    min-height: 100%;
    margin-top: 300px;
}

.imageContainer {
    margin-left: 5%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.logo {
    width: 250px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
}

.contactBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 230px;
    /*margin-right: 5%;*/
    margin-top: 200px;
}

.contactInfo {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 130px;
}

.text {
    width: 527px;
    font-weight: 400;
    font-size: 75px;
    line-height: 90px;
    font-family: Bebas;
}

.textBlock {
    display: flex;
    flex-direction: column;
}

.button {
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 200px;
    background-color: transparent;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    padding-bottom: 30px;
}

.spanStyle {
    position: absolute;
    margin-top: -220px;
    right: 107px;
    font-family: Moloko;
    font-size: 15px;
    line-height: 14px;
    color: #6B6B6B;
    /*box-shadow: rgba(0, 0, 0, 0.25)*/
}

.vectorStyle {
    position: absolute;
    margin-top: -200px;
    right: 125px;
}

.infoBlock {
    position: absolute;
    left: 100px;
    margin-top: -220px;
    width: 170px;
    height: 115px;
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
}

@media (max-width: 430px) {
    .styleLine {
        width: 450px;
    }

    .styleLogo {
        width: 80px;
        height: 44px;
    }

    .imageContainer {
        margin-left: 4%;
    }

    .logo {
        transform: translate(-11%, -18%);
    }

    .text {
        width: 190px;
        font-size: 33px;
        line-height: 32px;
    }

    .contactInfo {
        /*margin-left: 200px;*/
        width: 300px;
        margin-right: -65px;
    }

    .button {
        display: none;
    }

    .contactBlock {
        margin-top: 50px;
    }

    .imageInst {
        width: 80px;
        height: 80px;
    }

    .imageTikTok {
        width: 80px;
        height: 80px;
    }

    .imagePayment {
        width: 380px;
    }

    .gallery {
        margin-top: -220px;
        padding-bottom: 0;
    }
}

@media (max-width: 414px) {
    .styleLine {
        width: 450px;
    }

    .styleLogo {
        width: 80px;
        height: 44px;
    }

    .imageContainer {
        margin-left: 4%;
    }

    .logo {
        transform: translate(-11%, -18%);
    }

    .text {
        width: 190px;
        font-size: 33px;
        line-height: 32px;
    }

    .contactInfo {
        /*margin-left: 200px;*/
        width: 300px;
        margin-right: -65px;
    }

    .button {
        display: none;
    }

    .contactBlock {
        margin-top: 50px;
    }

    .imageInst {
        width: 80px;
        height: 80px;
    }

    .imageTikTok {
        width: 80px;
        height: 80px;
    }

    .imagePayment {
        width: 380px;
    }

    .gallery {
        margin-top: -220px;
        padding-bottom: 0;
    }
}

@media (max-width: 375px) {
    .styleLine {
        width: 405px;
    }

    .spanStyle {
        right: 100px
    }
    .infoBlock {
        left: 60px;
    }
}


@media (max-width: 390px) {
    .styleLine {
        width: 405px;
    }
    .infoBlock {
        left: 60px;
    }
    .vectorStyle {
        right: 145px;
    }
    .spanStyle {
        right: 127px
    }
}
