.container {
    min-width: 100%;
    min-height: 100%;
    margin-top: 300px;
}
.imageContainer {
    margin-left: 5%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.logo {
    width: 250px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
}
.contactBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 230px;
    /*margin-right: 5%;*/
    margin-top: 200px;
}

.contactInfo {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 130px;
}
.text {
    width: 527px;
    font-weight: 400;
    font-size: 75px;
    line-height: 90px;
    font-family: Bebas;
}
.textBlock {
    display: flex;
    flex-direction: column;
}

.button {
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 200px;
    background-color: transparent;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    padding-bottom: 30px;
}

@media (max-width: 414px) {
    .styleLine {
        width: 328px;
    }
    .styleLogo {
        width: 60px;
        height: 22px;
    }
    .imageContainer {
        margin-left: 15%;
    }
    .logo {
        transform: translate(-8%, -9%);
    }
    .text {
        width: 190px;
        font-size: 27px;
        line-height: 32px;
    }
    .contactInfo {
        /*margin-left: 200px;*/
        width: 300px;
        margin-right: -100px;
    }
    .button {
        display: none;
    }
    .contactBlock {
        margin-top: 100px;
    }
    .imageInst {
        width: 64px;
        height: 64px;
    }
    .imageTikTok {
        width: 64px;
        height: 64px;
    }
    .imagePayment {
        width: 317px;
    }
}

