.container {
    position: absolute;
    margin-top: 151px;
    width: 825px;
    height: 563px;
    left: 712px
}
@media screen and (max-width: 1500px) {
    .container {
        left: 700px
    }
}
@media screen and (max-width: 1436px) {
    .container {
        left: 600px
    }
}
@media screen and (max-width: 1300px) {
    .container {
        left: 500px
    }
}