.container {
    width: 100%;
    height: 1800px;
    background-color: black;
}

.styleText {
    font-size: 21px;
    font-weight: 400;
    display: inline-block;
    line-height: 25px;
    margin-bottom: 50px;
    color: white;
}

.title {
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
    color: white;
}

.posterStyle {
    background-color: transparent;
    margin-left: 0;
    z-index: 0;
    position: absolute;
    top: 0;
}

.textBlock {
    width: 796px;
    height: 1375px;
    position: absolute;
    right: 3%;
}

.infoBlock {
    display: flex;
}
.block {
    display: flex;
}

.vectorStyle {
    margin-left: 30px;
    margin-top: 50px
}
.textStyle {
    color: white;
    position: absolute;
    left: 3%;
    z-index: 1;
}
.textTest {
    font-size: 30px;
    line-height: 36px;
}
.textTest:last-child {
    color: turquoise;
}
.text1 {
    top: 1440px;
}

.text2 {
    top: 1480px;
}

.text3 {
    top: 1520px;
}

@media (max-width: 375px) {
    .posterStyle {
        width: 320px;
        height: 500px;
    }
    .textBlock {
        width: 796px;
        height: 1375px;
        position: absolute;
        left: 10px;
    }
    .title {
        font-size: 28px;
        line-height: 33px;
    }
    .vectorStyle {
        width: 27px;
        height: 34px;
    }
    .styleText {
        font-size: 9px;
        font-weight: 400;
        display: inline-block;
        line-height: 10px;
        margin-bottom: 20px;
        color: white;
    }
    .textBlock {
        width: 348px;
        height: 570px;
        margin-top: 350px;
        position: absolute;
        left: 10%;
    }
    .block {
        margin-top: -415px;
        margin-left: 100px;
        padding-bottom: 350px;
    }
    .vectorStyle {
        margin-left: 15px;
        margin-top: 17px
    }
    .textTest {
        font-size: 15px;
        line-height: 18px;
    }
}