.container {
    width: 100%;
    min-height: 892px;
    background-color: #000000;
}
.textContainer {
    width: 323px;
    height: 628px;
    left: 358px;
    position: absolute;
    color: white;
    margin-top: 140px
}
.textBlock {
    display: flex;
    flex-direction: column;
    width: 323px;
    height: 628px;
}
.spanText {
    width: 260px;
    font-family: custom-font-second;
    font-weight: 400;
    font-size: 100px;
    line-height: 100px;
}
.spanTextDouble {
    font-family: custom-font-second;
    font-weight: 400;
    font-size: 100px;
    line-height: 100px;
}
.block {
    margin-left: -300px;
}

.imageConnected {
    position: absolute;
    margin-top: 730px;
    margin-left: 710px
}

@media screen and (max-width: 1500px) {
    .textContainer {
        left: 370px
    }
    .imageConnected {
        margin-left: 700px
    }
}

@media screen and (max-width: 1436px) {
    .textContainer {
        left: 280px
    }
    .imageConnected {
        margin-left: 600px
    }
}

@media screen and (max-width: 1300px) {
    .textContainer {
        left: 180px
    }
    .imageConnected {
        margin-left: 500px
    }
}